<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r">
            <div class="guanli_box">
              <div class="guanli_title">
                <div class="guanli_che">
                  <div class="chename">市场所：</div>
                  <select class="guanli_sel">
                    <option>奉贤青村食品药品</option>
                    <option>奉贤青村食品药品</option>
                    <option>奉贤青村食品药品</option>
                    <option>奉贤青村食品药品</option>
                  </select>
                </div>
                <a href="javascript:;" class="guanli_xz">新增园区</a>
              </div>
              <div class="guanli_content">
                <ul>
                  <li>
                    <dl>
                     <dd class="guanli_mc">园区名称</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                     <dd class="guanli_mc">园区地址</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                     <dd>奉贤青村食品药品监督管理所</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                     <dd class="guanli_mc">联系人</dd>
                     <dd>张先生</dd>
                     <dd>李先生</dd>
                     <dd>王女士</dd>
                     <dd>张先生</dd>
                     <dd>赵先生</dd>
                     <dd>张女士</dd>
                     <dd>朱先生</dd>
                     <dd>张先生</dd>
                     <dd>王先生</dd>
                     <dd>刘先生</dd>
                     <dd>张先生</dd>
                     <dd>王先生</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                     <dd class="guanli_mc">联系方式</dd>
                     <dd>1234586445</dd>
                     <dd>1365648954</dd>
                     <dd>1832259465</dd>
                     <dd>1234586445</dd>
                     <dd>1365648954</dd>
                     <dd>1832259465</dd>
                     <dd>1234586445</dd>
                     <dd>1365648954</dd>
                     <dd>1832259465</dd>
                     <dd>1234586445</dd>
                     <dd>1365648954</dd>
                     <dd>1832259465</dd>
                    </dl>
                  </li>
                </ul>
              </div>
              
              <div class="yema">
                <div class="yema_befor"><a href="javascript:;" >上一页</a>     第</div>
                <nav>
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled">
                                                <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i></a>
                                            </li>
                                            <li class="active">
                                                <a href="javascript:void(0)">1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">4</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">5</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">6</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">7</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">8</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">9</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">...</a>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>页 <a href="javascript:;" >下一页</a> <a href="javascript:;" >尾页</a>
              </div>
            </div>
        </div>
    </div>
</div>



<% include ../common/footer.ejs %>

 

