<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="app">
=======
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        <div class="c-r">
         
            <div id="app">
              
            </div>
        </div>
>>>>>>> f114229ddf95198e9e8f0484e13e9b18f7be71b2
    </div>
</div>



<% include ../common/footer.ejs %>
<script type="text/javascript"  src="dist/index.js"></script>

