<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        <div class="c-r">
         
            <div id="app">
              
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>

<script type="text/javascript"  src="dist/index.js"></script>

