
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        <div class="c-r">
            <div class="quju"><img src="images/quju.jpg"></div>
        </div>
    </div>
</div>



<% include ../common/footer.ejs %>

