<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/lib/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/css/shichangsuo.css">
</head>
<body>
<div class="c-w" id="c-header">

            <div class="c-h">
                 欢迎<span>admain<span>进入奉贤医疗器械管理平台！！！
            </div>
            <div class="c-bg"></div>
</div>



<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
        <div class="c-l">
           <ul class="c-list">
              <li><a href="javascript:;"><i class="icon-caret-down"></i> 接口管理</a>
                  <dl>
                      <dd>
                          <a href="javascript:;">市场所</a>
                      </dd>
                      <dd>
                          <a href="javascript:;">园区</a>
                      </dd>
                  </dl>
              </li>
               <li><a href="javascript:;"><i class="icon-caret-down"></i> 接口管理</a>
                   <dl>
                       <dd>
                           <a href="javascript:;">市场所</a>
                       </dd>
                       <dd>
                           <a href="javascript:;">园区</a>
                       </dd>
                   </dl>
               </li>
               <li><a href="javascript:;"><i class="icon-caret-down"></i> 接口管理</a>
                   <dl>
                       <dd>
                           <a href="javascript:;">市场所</a>
                       </dd>
                       <dd>
                           <a href="javascript:;">园区</a>
                       </dd>
                   </dl>
               </li>

           </ul>
        </div>
        <div class="c-r">

        </div>
    </div>
</div>


<div class="c-f" id="c-footer">
   <div class="c-text">
        <p>上海市市辖区奉贤区南桥镇上海市奉贤区南桥镇南亭公路269号<br>
        Copyright © CFDA All Rights Reserved    备案序号:沪ICP备13027807号</p>
   </div>
</div>


<script src="../../public/lib/jquery/jquery.min.js"></script>
<script src="../../public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../public/js/common.js"></script>
<script>
  new Common('.c-list li >a');
</script>
</body>
</html>