<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/c-table.css">
    <link rel="stylesheet" href="/lib/bootstrap-datepicker3.min.css">
</head>
<body>

<div class="c-w" id="c-header">
    <div class="c-h">
        <div class="huany">欢迎admain进入奉贤医疗器械管理平台！！！</div>
        <div class="geren">
            <a href="javascript:;" class="gerena" id="u-btn">个人中心</a>
            <div class="tongzhi" id="tongzhi">
                <ul class="clearfix">
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromMessage" >通知</a>
                        <div class="sm_dian">3</div>
                    </li>
                    <li><a href="#" class="btn" >修改密码</a></li>
                    <li><a href="#" class="btn" >退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-bg"></div>
</div>
