<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
<div class="c-w" id="c-header">

            <div class="c-h">
                 欢迎<span>admain<span>进入奉贤医疗器械管理平台！！！
            </div>
            <div class="c-bg"></div>
</div>
